html {
    margin: 0;
    padding: 0;
}

/* font family */

.frobotomono {
    font-family: 'Roboto Mono', monospace;
}

.fRighteous {
    font-family: 'Righteous', cursive;
}

.fLobster {
    font-family: 'Lobster', cursive;
}



/* link */

a {
    text-decoration: none;
    color: #FF5733;
}

/* titles */ 

.title {
    font-size: 30px;
    color: #FF5733;
    margin-left: 20px;
}
.title:hover {
    text-decoration: underline;
    color: #FF9033;
    cursor:cell;
}






/*border
.borderhd {
    border: 1px solid rgb(226, 226, 226);
}  
.bordermn {
    border: 1px solid rgb(224, 173, 173);
}
*/


/* header */

.menubtn {
    background-color: #D5DBDB;
    word-spacing: -10px;
    user-select: none;
    
}
.menubtn:hover {
    border-bottom: 1px solid #04748C;
   
}
.menubtn a:hover {
    color: #FF9033;
}
.menubtn:active {
    transform: translateY(1px);
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
}
.menubtn a:active {
    color: white;
}

.headertitle {
    font-size: 35px;
    color: #2994C2;
}

.borderbottom {
    border-bottom: 2px solid #04748C;
}
.headercontainer {
   width: 800px;
   height: fit-content; 
   margin: 0 auto; 
}


.menutitle {
   width: 800px;
   margin:0 auto;
   display: flex;
}

.headertitle {
    margin-left: 20px;
}

.titlecontainer, .menucontainer {
    width: fit-content;
}

.headermenu li {
    list-style-type: none;
    float: right;
    position: relative;
    top: 14px;
}

.headermenu {
    margin-right: 20px;
}

.menubtn {
    padding: 4px 5px;
    margin-right: 2px;
    width: 100px;
    height: 20px;
    text-align: center;
}

/*main*/

/* color Box */
.headerbox {
    height: 100px;
    width: 150px;
    float: left;
    margin: 10px 5px; 
    border-radius: 2px; 
}

.headerbox p {
    
    
}

.hbs1 {
    background-color: #FF5733;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hbs2 {
    background-color: #FF7133;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hbs3 {
    background-color: #D5DBDB;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hbs4 {
    background-color: #2994C2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hbs5 {
    background-color: #04748C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headersection {
    height: fit-content;
    width: 800px;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.maincontainer {
    height: fit-content;
    width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


.textbox {
    width: 40%;
    height: fit-content;
    display: inline-block;
    margin: 5px 5px;
    padding: 20px;
    
}

.textboxcontainer {
    margin-left: 5%;
    margin-left: 5%;
}



/*
nav {
    display: contents;
    float: right;
}



/* fonts */

.fLobster p {
    font-size: 15px;
}
.frobotomono p {
    font-size: 15px;
}
.fRighteous p {
    font-size: 14.5px;
}
h4 {
    font-size: 18px;
}




/* text style */

.textstylecontainer {
    margin-left: 10px;
}

.textstylecontainer ul {
    margin-left: 30px;
}

.maincontainer ul {
    
}